[Desktop Entry]
Type=Application
Name=MoonDeckBuddy
Exec=/home/zany130/Applications/MoonDeckBuddy-1.6.1-x86_64_7842b7510b2a66c453c1183c8028c5b6.AppImage
Icon=MoonDeckBuddy
