[Desktop Entry]
Type=Application
Version=1.0
Name=pcloud
Comment=pcloudstartup script
Exec=/home/zany130/Applications/pcloud
StartupNotify=false
Terminal=false