[Desktop Entry]
Categories=Network;Office
Comment=A simple GUI for OneDrive Linux client
Exec=onedrivegui
Icon=OneDriveGUI.png
Name=OneDriveGUI
StartupNotify=true
Type=Application
