[Desktop Action Remove]
Exec=/usr/lib/appimagelauncher/remove "/home/zany130/Applications/PreMiD.Portable_c209c3ad24914c9542b6ad940e8fe21b.AppImage"
Icon=AppImageLauncher
Name[en_US]=Remove AppImage from system
Name=Remove AppImage from system

[Desktop Entry]
Actions=Remove;
Categories=Utility;
Comment=Discord Rich Presence for web services for Linux!
Exec=/home/zany130/Applications/PreMiD.Portable_c209c3ad24914c9542b6ad940e8fe21b.AppImage --no-sandbox %U
Icon=appimagekit_74c1d16a304bd7a25936faebacfebebc_premid
Name=PreMiD Portable (2.3.4)
StartupWMClass=PreMiD Portable
Terminal=false
TryExec=/home/zany130/Applications/PreMiD.Portable_c209c3ad24914c9542b6ad940e8fe21b.AppImage
Type=Application
X-AppImage-Identifier=74c1d16a304bd7a25936faebacfebebc
X-AppImage-Old-Icon=premid
X-AppImage-Old-Name=PreMiD Portable
X-AppImage-Version=2.3.4
X-AppImageLauncher-Version=2.2.0 (git commit 0f91801), built on 2023-09-11 05:02:05 UTC
