[Desktop Entry]
Categories=AudioVideo;Recorder;
Comment=Free and Open Source Streaming/Recording Software
Exec=obs
GenericName=Streaming/Recording Software
Icon=com.obsproject.Studio
Name=OBS Studio
StartupNotify=true
StartupWMClass=obs
Terminal=false
Type=Application
Version=1.0
