[Desktop Entry]
Categories=Game;
Comment=An Open Source Launcher for GOG and Epic Games
Exec=/opt/Heroic/heroic %U
Icon=heroic
MimeType=x-scheme-handler/heroic;
Name=Heroic Games Launcher
StartupWMClass=Heroic
Terminal=false
Type=Application
