[Desktop Entry]
Type=Application
Name=Vesktop
Comment=Vesktop autostart script
Exec="/usr/lib/vesktop/vesktop" "--enable-blink-features=MiddleClickAutoscroll"
StartupNotify=false
Terminal=false