[Desktop Entry]
Type=Application
Name=Vesktop
Comment=Vesktop autostart script
Exec="/usr/lib/electron31/electron" "--enable-features=WaylandWindowDecorations" "--ozone-platform-hint=auto" "/usr/lib/vesktop/app.asar" "--enable-blink-features=MiddleClickAutoscroll"
StartupNotify=false
Terminal=false