[Desktop Entry]
Name=Cave Story+
Exec=xdg-open heroic://launch/legendary/1dea8a6ddb544842a58e4b5c8675ff58
Terminal=false
Type=Application
Icon=/home/zany130/.config/heroic/icons/1dea8a6ddb544842a58e4b5c8675ff58.jpg
Categories=Game;
