[Desktop Entry]
Name=Danganronpa V3: Killing Harmony
Comment=Play this game on Steam
Exec=steam steam://rungameid/567640
Icon=steam
Terminal=false
Type=Application
Categories=Game;
