[Desktop Entry]
Name=Lost Daughter
Comment=Play this game on Steam
Exec=steam steam://rungameid/1008690
Icon=steam
Terminal=false
Type=Application
Categories=Game;
