[Desktop Entry]
Name=Sakura Gamer
Comment=Play this game on Steam
Exec=steam steam://rungameid/685680
Icon=steam_icon_685680
Terminal=false
Type=Application
Categories=Game;
