[Desktop Entry]
Name=Unreal Development Kit
Comment=Play this game on Steam
Exec=steam steam://rungameid/13260
Icon=steam
Terminal=false
Type=Application
Categories=Game;
