[Desktop Entry]
Name=EmuDeck (2.2.18) (2)
Exec=/home/zany130/Applications/EmuDeck_3454606d0e6874fd3db6ae032f1104f7.AppImage --no-sandbox %U
Terminal=false
Type=Application
Icon=appimagekit_6f70ec7dfe1abf3df7f1c07e7ddb5d65_emudeck
StartupWMClass=EmuDeck
X-AppImage-Version=2.2.18
Comment=Play all your RetroGames
Categories=Development;

TryExec=/home/zany130/Applications/EmuDeck_3454606d0e6874fd3db6ae032f1104f7.AppImage
X-AppImage-Old-Icon=emudeck
X-AppImage-Old-Name=EmuDeck
X-AppImage-Identifier=6f70ec7dfe1abf3df7f1c07e7ddb5d65
Actions=Remove;
X-AppImageLauncher-Version=2.2.0 (git commit 0f91801), built on 2023-09-11 05:02:05 UTC

[Desktop Action Remove]
Name=Remove AppImage from system
Icon=AppImageLauncher
Exec=/usr/lib/appimagelauncher/remove "/home/zany130/Applications/EmuDeck_3454606d0e6874fd3db6ae032f1104f7.AppImage"
Name[ast]=Desaniciar AppImage del sistema
Name[cs]=Odebrat AppImage ze systému
Name[de]=AppImage vom System entfernen
Name[en]=Remove AppImage from system
Name[es]=Eliminar Appimage del Sistema
Name[fr]=Supprimer l'AppImage du système
Name[it]=Rimuovi AppImage dal sistema
Name[nl]=AppImage deïnstalleren
Name[pl]=Usuń AppImage z systemu
Name[pt]=Remover AppImage do sistema
Name[pt_PT]=Remover AppImage do sistema
Name[ru]=Удалить AppImage из системы
Name[zh_Hans]=从系统中移除 AppImage
