[Desktop Entry]
Name=Lightmatter
Comment=Play this game on Steam
Exec=steam steam://rungameid/994140
Icon=steam
Terminal=false
Type=Application
Categories=Game;
