[Desktop Entry]
Name=A Hat in Time - Soundtrack
Comment=Play this game on Steam
Exec=steam steam://rungameid/356831
Icon=steam
Terminal=false
Type=Application
Categories=Game;
