[Desktop Entry]
Name=Monark
Comment=Play this game on Steam
Exec=steam steam://rungameid/1539620
Icon=steam_icon_1539620
Terminal=false
Type=Application
Categories=Game;
