[Desktop Entry]
Name=Dishonored
Comment=Play this game on Steam
Exec=steam steam://rungameid/205100
Icon=steam
Terminal=false
Type=Application
Categories=Game;
