[Desktop Entry]
Name=CLANNAD
Comment=Play this game on Steam
Exec=steam steam://rungameid/324160
Icon=steam_icon_324160
Terminal=false
Type=Application
Categories=Game;
