[Desktop Entry]
Name=Tomb Raider
Comment=Play this game on Steam
Exec=steam steam://rungameid/203160
Icon=steam
Terminal=false
Type=Application
Categories=Game;
