[Desktop Entry]
Name=The Legend of Heroes: Trails into Reverie - Soundtrack Sampler
Comment=Play this game on Steam
Exec=steam steam://rungameid/2434471
Icon=steam_icon_2434471
Terminal=false
Type=Application
Categories=Game;
