[Desktop Entry]
Name=PyCharm Community 2023.3.2
Exec="/home/zany130/.local/share/JetBrains/Toolbox/apps/pycharm-community/bin/pycharm.sh" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=/home/zany130/.local/share/JetBrains/Toolbox/apps/pycharm-community/bin/pycharm.svg
Comment=The pure Python IDE
StartupWMClass=jetbrains-pycharm-ce
StartupNotify=true
