[Desktop Entry]
Name=The Awesome Adventures of Captain Spirit
Comment=Play this game on Steam
Exec=steam steam://rungameid/845070
Icon=steam_icon_845070
Terminal=false
Type=Application
Categories=Game;
