[Desktop Entry]
Name=Sunset Overdrive
Comment=Play this game on Steam
Exec=steam steam://rungameid/847370
Icon=steam_icon_847370
Terminal=false
Type=Application
Categories=Game;
