[Desktop Entry]
Name=Moss
Comment=Play this game on Steam
Exec=steam steam://rungameid/846470
Icon=steam_icon_846470
Terminal=false
Type=Application
Categories=Game;
