[Desktop Entry]
Name=Yu-Gi-Oh!  Master Duel
Comment=Play this game on Steam
Exec=steam steam://rungameid/1449850
Icon=steam
Terminal=false
Type=Application
Categories=Game;
