[Desktop Entry]
Name=The Legend of Heroes: Trails of Cold Steel III
Comment=Play this game on Steam
Exec=steam steam://rungameid/991270
Icon=steam_icon_991270
Terminal=false
Type=Application
Categories=Game;
