[Desktop Entry]
Name=Quake II RTX
Comment=Play this game on Steam
Exec=steam steam://rungameid/1089130
Icon=steam
Terminal=false
Type=Application
Categories=Game;
