[Desktop Entry]
Name=Taima Miko Yuugi
Comment=Play this game on Steam
Exec=steam steam://rungameid/719430
Icon=steam
Terminal=false
Type=Application
Categories=Game;
