[Desktop Entry]
Name=The Witness
Comment=Play this game on Steam
Exec=steam steam://rungameid/210970
Icon=steam
Terminal=false
Type=Application
Categories=Game;
