[Desktop Entry]
Name=CLion 2023.3.2
Exec="/home/zany130/.local/share/JetBrains/Toolbox/apps/clion/bin/clion.sh" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=/home/zany130/.local/share/JetBrains/Toolbox/apps/clion/bin/clion.svg
Comment=A cross-platform C and C++ IDE
StartupWMClass=jetbrains-clion
StartupNotify=true
