[Desktop Entry]
Name=The Search
Comment=Play this game on Steam
Exec=steam steam://rungameid/566190
Icon=steam
Terminal=false
Type=Application
Categories=Game;
