[Desktop Entry]
Name=Sunrider Academy
Comment=Play this game on Steam
Exec=steam steam://rungameid/340730
Icon=steam
Terminal=false
Type=Application
Categories=Game;
