#!/usr/bin/env xdg-open
	[Desktop Entry]
	Name=Xenia (Proton)
	Exec=/home/zany130/Emulation/tools/launchers/xenia.sh
	Icon=/home/zany130/.local/share/icons/emudeck/Xenia.png
	Terminal=False
	Type=Application
	Categories=Game;
	StartupNotify=false
