[Desktop Entry]
Name=Watch_Dogs 2
Comment=Play this game on Steam
Exec=steam steam://rungameid/447040
Icon=steam
Terminal=false
Type=Application
Categories=Game;
