#!/usr/bin/env xdg-open
	[Desktop Entry]
	Name=Steam-ROM-Manager AppImage
	Exec=/home/zany130/Emulation/tools/launchers/srm/steamrommanager.sh
	Icon=/home/zany130/.local/share/icons/emudeck/Steam-ROM-Manager.png
	Terminal=false
	Type=Application
	Categories=Game;
	StartupNotify=false
