[Desktop Entry]
Name=TY the Tasmanian Tiger 4
Comment=Play this game on Steam
Exec=steam steam://rungameid/287840
Icon=steam
Terminal=false
Type=Application
Categories=Game;
