[Desktop Entry]
Name=Game Character Hub: Portfolio Edition
Comment=Play this game on Steam
Exec=steam steam://rungameid/529830
Icon=steam_icon_529830
Terminal=false
Type=Application
Categories=Game;
