[Desktop Entry]
Name=The Witcher 2: Bonus Content
Comment=Play this game on Steam
Exec=steam steam://rungameid/20930
Icon=steam_icon_20930
Terminal=false
Type=Application
Categories=Game;
