[Desktop Entry]
Name=Slippi Launcher (2.10.5)
Exec=/home/zany130/Applications/Slippi-Launcher-2.10.5-x86_64_31cbd0d5c1cb982a3ef493d9c3db1d02.AppImage --no-sandbox %U
Terminal=false
Type=Application
Icon=appimagekit_f5771e3b21123f256b9ed979edad35d0_slippi-launcher
StartupWMClass=Slippi Launcher
X-AppImage-Version=2.10.5
Comment=Launch Slippi Online, browse and watch saved replays
MimeType=x-scheme-handler/slippi;
Categories=Development;

TryExec=/home/zany130/Applications/Slippi-Launcher-2.10.5-x86_64_31cbd0d5c1cb982a3ef493d9c3db1d02.AppImage
X-AppImage-Old-Icon=slippi-launcher
X-AppImage-Old-Name=Slippi Launcher
X-AppImage-Identifier=f5771e3b21123f256b9ed979edad35d0
Actions=Remove;
X-AppImageLauncher-Version=2.2.0 (git commit 0f91801), built on 2023-09-11 05:02:05 UTC

[Desktop Action Remove]
Name=Remove AppImage from system
Icon=AppImageLauncher
Exec=/usr/lib/appimagelauncher/remove "/home/zany130/Applications/Slippi-Launcher-2.10.5-x86_64_31cbd0d5c1cb982a3ef493d9c3db1d02.AppImage"
Name[ast]=Desaniciar AppImage del sistema
Name[cs]=Odebrat AppImage ze systému
Name[de]=AppImage vom System entfernen
Name[en]=Remove AppImage from system
Name[es]=Eliminar Appimage del Sistema
Name[fr]=Supprimer l'AppImage du système
Name[it]=Rimuovi AppImage dal sistema
Name[nl]=AppImage deïnstalleren
Name[pl]=Usuń AppImage z systemu
Name[pt]=Remover AppImage do sistema
Name[pt_PT]=Remover AppImage do sistema
Name[ru]=Удалить AppImage из системы
Name[zh_Hans]=从系统中移除 AppImage
