[Desktop Entry]
Name=Tales of Arise
Comment=Play this game on Steam
Exec=steam steam://rungameid/740130
Icon=steam_icon_740130
Terminal=false
Type=Application
Categories=Game;
