[Desktop Entry]
Name=Undertale
Comment=Play this game on Steam
Exec=steam steam://rungameid/391540
Icon=steam
Terminal=false
Type=Application
Categories=Game;
