[Desktop Entry]
Name=Higurashi When They Cry Hou - Ch.1 Onikakushi
Exec=xdg-open heroic://launch/gog/1532671653
Terminal=false
Type=Application
Icon=/home/zany130/Games/Heroic/Higurashi When They Cry Hou - Ch.1 Onikakushi/support/icon.png
Categories=Game;
