[Desktop Entry]
Exec=/home/zany130/Scripts/xpanders_kill_wine_script.sh
Name=/home/zany130/Scripts/xpanders_kill_wine_script.sh
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
