[Desktop Entry]
Categories=Utility;
Comment=A secure and free password manager for all of your devices.
Exec=bitwarden-desktop --enable-features=UseOzonePlatform --ozone-platform-hint=auto
GenericName=Password Manager
Icon=bitwarden
Name=Bitwarden
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=Bitwarden
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
