[Desktop Entry]
Exec=/home/zany130/Scripts/toggleMangoHud.sh
Name=/home/zany130/Scripts/toggleMangoHud.sh
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
