[Desktop Entry]
Exec=flatpak run --command=io.github.alainm23.planify.quick-add io.github.alainm23.planify
Name=flatpak run --command=io.github.alainm23.planify.quick-add io.github.alainm23.planify
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
