[Desktop Entry]
Exec=systemctl --user restart clipboard-sync.service
Name=systemctl --user restart clipboard-sync.service
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
