[Desktop Entry]
Type=Application
Name=ReVanced Extended
Exec=waydroid app launch app.rvx.android.youtube
Icon=/home/zany130/.local/share/waydroid/data/icons/app.rvx.android.youtube.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app_settings;
[Desktop Action app_settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:app.rvx.android.youtube
