[Desktop Entry]
Type=Application
Name=Bromite
Exec=waydroid app launch org.bromite.bromite
Icon=/home/zany130/.local/share/waydroid/data/icons/org.bromite.bromite.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app_settings;
[Desktop Action app_settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:org.bromite.bromite
