[Desktop Entry]
Type=Application
Name=Solid Explorer
Exec=waydroid app launch pl.solidexplorer2
Icon=/home/zany130/.local/share/waydroid/data/icons/pl.solidexplorer2.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app_settings;
[Desktop Action app_settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:pl.solidexplorer2
