[Desktop Entry]
Type=Application
Name=DIRECTV
Exec=waydroid app launch com.att.tv
Icon=/home/zany130/.local/share/waydroid/data/icons/com.att.tv.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app_settings;
[Desktop Action app_settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:com.att.tv
