[Desktop Entry]
Type=Application
Name=Shizuku
Exec=waydroid app launch moe.shizuku.privileged.api
Icon=/home/zany130/.local/share/waydroid/data/icons/moe.shizuku.privileged.api.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app_settings;
[Desktop Action app_settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:moe.shizuku.privileged.api
