[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=text/plain;
Exec=env WINEPREFIX="/home/zany130/.config/steamtinkerlaunch/vortex/compatdata/pfx" wine start /ProgIDOpen txtfile %f
NoDisplay=true
StartupNotify=true
