[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=application/pdf;
Exec=env WINEPREFIX="/home/zany130/.config/steamtinkerlaunch/vortex/compatdata/pfx" wine start /ProgIDOpen pdffile %f
NoDisplay=true
StartupNotify=true
