[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=image/jpeg;
Exec=env WINEPREFIX="/home/zany130/.config/steamtinkerlaunch/vortex/compatdata/pfx" wine start /ProgIDOpen pjpegfile %f
NoDisplay=true
StartupNotify=true
