[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=application/x-mswrite;
Exec=env WINEPREFIX="/home/zany130/.config/steamtinkerlaunch/vortex/compatdata/pfx" wine start /ProgIDOpen wrifile %f
NoDisplay=true
StartupNotify=true
