[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=application/x-wine-extension-msp;
Exec=env WINEPREFIX="/home/zany130/.config/steamtinkerlaunch/vortex/compatdata/pfx" wine start /ProgIDOpen Msi.Patch %f
NoDisplay=true
StartupNotify=true
