[Desktop Entry]
Type=Application
Name=wscript
MimeType=application/x-wine-extension-vbs;
Exec=env WINEPREFIX="/home/zany130/Games/PSPlus" wine start /ProgIDOpen VBSFile %f
NoDisplay=true
StartupNotify=true
Icon=2905_wscript.0
