[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=image/gif;
Exec=env WINEPREFIX="/home/zany130/.config/steamtinkerlaunch/vortex/compatdata/pfx" wine start /ProgIDOpen giffile %f
NoDisplay=true
StartupNotify=true
