[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=text/html;
Exec=env WINEPREFIX="/home/zany130/.config/steamtinkerlaunch/vortex/compatdata/pfx" wine start /ProgIDOpen htmlfile %f
NoDisplay=true
StartupNotify=true
