[Desktop Entry]
Type=Application
Name=A Wine application
MimeType=application/x-mswinurl;
Exec=env WINEPREFIX="/home/zany130/.config/steamtinkerlaunch/vortex/compatdata/pfx" wine start /ProgIDOpen InternetShortcut %f
NoDisplay=true
StartupNotify=true
