{:logseq-plugin-gpt3-openai {:version "v1.13.2", :repo "briansunter/logseq-plugin-gpt3-openai", :effect true, :theme false}
 :logseq-awesome-ui {:version "v2.4.0", :repo "yoyurec/logseq-awesome-ui", :effect true, :theme false}
 :logseq-awesome-styler {:version "v3.7.1", :repo "yoyurec/logseq-awesome-styler", :effect true, :theme false}
 :logseq-awesome-links {:version "v1.15.16", :repo "yoyurec/logseq-awesome-links", :effect true, :theme false}
 :logseq-calendars-plugin {:version "2.2.2", :repo "sawhney17/logseq-calendars-plugin", :effect true, :theme false}
 :logseq-banners-plugin {:version "v3.4.11", :repo "yoyurec/logseq-banners-plugin", :effect true, :theme false}
 :logseq-readwise-official-plugin {:version "v1.4.9", :repo "readwiseio/logseq-readwise-official-plugin", :effect true, :theme false}
 :logseq-emoji-picker-fork {:version "v0.0.6", :repo "walsvid/logseq-emoji-picker-fork", :effect false, :theme false}
 :logseq-helium-plugin {:version "v.2.1.3", :repo "vyleung/logseq-helium-plugin", :effect true, :theme false}
 :logseq-copy-code-plugin {:version "v.1.2.0", :repo "vyleung/logseq-copy-code-plugin", :effect true, :theme false}
 :logseq-habit-tracker {:version "v0.4.3", :repo "c6p/logseq-habit-tracker", :effect false, :theme false}
 :logseq-interstitial {:version "0.1.5", :repo "QWxleA/logseq-interstitial-heading-plugin", :effect false, :theme false}
 :logseq-tabs {:version "v1.19.4", :repo "pengx17/logseq-plugin-tabs", :effect true, :theme false}
 :logseq-tags {:version "v0.1.2", :repo "gidongkwon/logseq-plugin-tags", :effect false, :theme false}
 :logseq-markdown-table {:version "v1.8.0", :repo "haydenull/logseq-plugin-markdown-table", :effect false, :theme false}
 :logseq-pdf-export-plugin {:version "2.2.10", :repo "sawhney17/logseq-pdf-export", :effect true, :theme false}
 :logseq-link-preview {:version "v2.2.10", :repo "pengx17/logseq-plugin-link-preview", :effect true, :theme false}
 :logseq-awesome-props {:version "v1.10.0", :repo "yoyurec/logseq-awesome-props", :effect true, :theme false}
 :logseq-todoist-plugin {:version "v5.1.9", :repo "hkgnp/logseq-todoist-plugin", :effect false, :theme false}
 :logseq-sticky-headers {:version "v1.4.4", :repo "yoyurec/logseq-sticky-headers", :effect true, :theme false}
 :logseq-unsplash {:version "v1.0.0", :repo "clearlysid/logseq-unsplash", :effect false, :theme false}
 :logseq-reference-styles {:version "v0.0.3", :repo "benjaffe/logseq-reference-styles", :effect false, :theme false}
 :logseq-bonofix-theme {:version "v3.9.2", :repo "sansui233/logseq-bonofix-theme", :effect false, :theme true}
 :logseq-dev-theme {:version "v1.26.17", :repo "pengx17/logseq-dev-theme", :effect false, :theme true}
 :logseq-dracula-theme {:version "0.0.5", :repo "dracula/logseq", :effect false, :theme true}
 :logseq-bullet-threading {:version "v1.1.4", :repo "pengx17/logseq-plugin-bullet-threading", :effect false, :theme false}
 :logseq-toolbox {:version "0.0.3", :repo "tankcool/logseq-toolbox", :effect false, :theme false}
 :logseq-excalidraw {:version "v1.5.1", :repo "haydenull/logseq-plugin-excalidraw", :effect true, :theme false}
 :logseq-todo-plugin {:version "v1.21.0", :repo "ahonn/logseq-plugin-todo", :effect true, :theme false}}
