{
   "connect" : {
      "spotify" : {
         "access_token" : "BQAgDmv84tEoEjxyjWh6OPsfBK7geRD5orpa3mPHSXd-Sa5B5Z7SMQk2JHEI5vmGmYCu2thE7YrMZ-fL1Q7RmCV9L9eQQPv2aDONhteZFbERIddmecaFgcTlxILwj0Ll-MOfM0Wr_SGeIGN35w2ecUdi1-DpDWFR-kwG8WizG_jqXn31rbjgP8RMUQ0PnKKIGPkaBVLgUTtUYY2JiiA0MtRaNDu6AicOGa8-z96v2Q-3nfhEcyCewfBIbHnLKapm7rWXhAK3cihZgxMtD20C5l6k",
         "client_id" : "448fd6a6f5904c8ab6ef8d43f24d17c0",
         "created" : 1691898035,
         "expires_in" : 3600,
         "refresh_token" : "AQDjpyuqDjpqieGnId9ECJF8BJIun1JRXKqj0g621-DyyuL_gCNfXm5qagTveWhioIonm3wWOxnM7fjg0EyGStOC0J7mFCGvnGgUOxzqKxKx9Vqo71vQjO24KyTbQlA1JZ0",
         "token_type" : "Bearer",
         "type" : "oauth2"
      }
   },
   "interfaces" : {
      "bt" : {
         "enable" : false
      }
   },
   "updates" : {
      "last-check" : 1714177368740991,
      "pending" : false,
      "response" : {
         "Available" : false,
         "Link" : "https://www.unifiedremote.com/update",
         "Response" : "Using newer version",
         "VersionCode" : 39,
         "VersionName" : "New Version"
      }
   }
}
