[Unit]
Description="Goldwarden daemon"
After=graphical-session.target

[Service]
ExecStart=/usr/bin/goldwarden daemonize

[Install]
WantedBy=graphical-session.target