[Unit]
Description=Clean up rdiff-bak snapshots

[Service]
Type=oneshot
ExecStart=rdiff-backup --verbosity 5 remove increments --older-than 30D /mnt/GAMES/RdiffBak/
